.footer {
  flex-direction: column;
  width: 100%;
}

.footer-wrap {
  justify-content: space-between;
  margin-bottom: 70px;
}

.footer-logo {
  width: 185px;
  height: 185px;
}

.footer-logo:hover,
.socials a:hover {
  filter: brightness(1.2);
}

.site-links {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
}

.site-links a:hover {
  filter: brightness(0.7);
}

.footer-group h2 {
  color: #fff;
  font-size: 1.6rem;
}

.socials {
  margin: 30px 0 50px 0;
  gap: 20px;
}

.socials a i {
  color: #343045ed;
}

.socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  text-align: center;
  border-radius: 50%;
  background-color: #c0b7e8;
  font-size: 1.8rem;
  padding: 10px;
}

.footer-end {
  justify-content: center;
  padding: 50px 0 60px 0;
  border-image: linear-gradient(90deg, rgba(52, 48, 69, 1) 0%, rgba(192, 183, 232, 1) 26%, rgba(129, 118, 175, 1) 63%, rgba(52, 48, 69, 1) 100%) 1 0 0 0;
  border-top: 1px solid;
  font-weight: 700;
}

.footer-end a {
  text-decoration: underline;
}

@media (max-width: 930px) {
  .footer {
    align-items: center;
  }

  .logo {
    transform: scale(0.7);
    margin: 0 -30px;
  }

  .footer-separator {
    display: none;
  }

  .footer-wrap {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }

  .site-links {
    display: none;
  }

  .socials {
    margin: 20px 0 60px 0;
  }

  .footer-end {
    justify-content: center;
    text-align: center;
    max-width: 300px;
    line-height: 45px;
  }
}
