.how-to {
  flex-direction: column;
  margin-bottom: 100px;
}

.how-tos-wrap {
  background: url(../../images/how-to-content/how-to-bg.svg) no-repeat;
  background-position: top;
  background-size: 95%;
  justify-content: space-between;
  position: relative;
}

.how-to-group {
  transition: 0.5s ease-in-out;
}

.how-to-group h3 {
  display: flex;
  background: linear-gradient(251deg, #c0b7e8 0%, #8176af 100%);
  background-position: top 40% left;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  padding: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 20px solid rgba(13, 13, 13, 0.863);
  font-size: 6.4rem;
  color: #343045;
  margin: 0 auto;
  font-weight: 700;
}

.how-to-group h4 {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  margin-top: 25px;
}

.how-to-group img {
  width: 60px;
  height: 60px;
  margin-left: -30px;
}

.how-to .arrow {
  display: none;
  position: absolute;
  align-self: center;
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 50%;
  background: linear-gradient(268deg, #c0b7e8 0%, #8176af 100%);
  border: 9px solid rgba(30, 30, 30, 0.968);
  z-index: 1;
  cursor: pointer;
}

.how-to .arrow.right {
  right: 0;
  bottom: 0;
}

.how-to .arrow.left {
  left: 0;
  bottom: 0;
  transform: scale(-1);
}

@media (max-width: 930px) {
  .how-to {
    align-items: center;
  }

  .how-tos-wrap {
    justify-content: center;
    background: none;
    text-align: center;
    width: 330px;
    height: 265px;
    overflow: hidden;
    display: flex;
  }

  .how-to-group {
    position: absolute;
  }

  .how-to-group img {
    display: none;
  }

  .how-to-group h4 {
    margin-top: 40px;
    justify-content: center;
  }

  .how-to .arrow {
    display: block;
  }
}
