.header label {
  display: none;
}

.header .menu-burg-div {
  display: none;
  width: 50px;
  height: 50px;
  position: relative;
}

.hamburguer {
  background: linear-gradient(90deg, #c0b7e8 0%, #8176af 100%);
  display: block;
  height: 3px;
  width: 30px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.line-1 {
  position: absolute;
  left: 20px;
  top: 10px;
}
.line-2 {
  position: absolute;
  left: 25px;
  top: 20px;
  width: 25px;
}
.line-3 {
  position: absolute;
  left: 20px;
  top: 30px;
}

.header input:checked ~ label .line-1 {
  transform: translateY(10px) rotate(135deg);
}

.header input:checked ~ label .line-2 {
  opacity: 0;
}

.header input:checked ~ label .line-3 {
  transform: translateY(-10px) rotate(-135deg);
}

.header input {
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  min-width: 250px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.306);
  z-index: 2;
}

/* RESPONSIVE */

@media (max-width: 1220px) {
  .header label {
    display: block;
    position: absolute;
    right: 30px;
    z-index: 3;
  }

  .header .menu-burg-div {
    display: block;
  }

  .header input:checked ~ .menus {
    display: flex;
    position: absolute;
    right: 0;
    top: 60px;
    z-index: 3;
  }

  .header input:checked ~ .menus .top-menu nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-evenly;
    right: 60px;
    top: 60px;
    margin-right: 10px;
    text-align: center;
  }

  .header input:checked ~ .menus .top-button nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 45px;
    top: 250px;
    text-align: center;
    gap: 55px;
  }
  .header input:checked ~ .overlay {
    display: block;
    z-index: 2;
  }
}
