html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #302c42;
  font-weight: 400;
  margin-top: 10px;
}

p {
  color: #fff;
}

.container {
  max-width: 1650px;
  margin: auto;
  padding: 0 50px;
}

.apply-flex {
  display: flex;
}

.top-sections {
  margin: 100px 0;
}

.title-wrap,
.top-sections p {
  width: 50%;
}

.top-sections p {
  align-self: center;
}

.sub-title-sections {
  align-items: center;
}

.sub-title-sections h3 {
  margin-right: 30px;
}

.sub-title-sections img {
  width: 200px;
  height: 50px;
}

.section-title,
.section-subtitle {
  color: #fff;
  text-transform: uppercase;
  font-size: 3.6rem;
}

.section-title {
  font-weight: 700;
}

.section-subtitle {
  font-weight: 300;
}

.big-button-style {
  font-size: 1.2rem;
  color: #343045;
  font-weight: 700;
  border-radius: 40px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  padding: 17px 38px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.big-button-style:hover {
  filter: brightness(1.2);
}

/* RESPONSIVE */

@media (max-width: 1300px) {
  .sub-title-sections img {
    width: 150px;
    height: 60px;
  }
}

@media (max-width: 1070px) {
  .top-sections p,
  .title-wrap {
    transform: scale(0.9);
  }
}

@media (max-width: 930px) {
  .container {
    padding: 0 30px;
  }

  .big-button-style {
    font-size: 1.4rem;
  }

  .section-title,
  .section-subtitle {
    font-size: 2.6rem;
    margin-bottom: 15px;
  }

  .sub-title-sections img,
  .top-sections p {
    display: none;
  }

  .title-wrap {
    width: auto;
  }

  .top-sections {
    margin: 30px;
  }

  .title-wrap,
  .sub-title-sections {
    margin: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .sub-title-sections h3 {
    margin: 0;
  }
}

@media (max-width: 700px) {
  .title-wrap {
    transform: scale(1);
  }
}
