.hide {
  visibility: hidden;
  transition: 0.5s ease-in-out;
}

.none {
  display: none;
}

/* HERO MOBILE SLIDER */
.mobile-contact-slider {
  position: relative;
  width: 348px;
  height: 100px;
  overflow: hidden;
  justify-content: center;
  align-self: center;
}

.out-of-screen {
  position: absolute;
}

.out-of-screen-translate {
  transform: translateX(-100%);
}

.mobile-contact-slider .arrow {
  position: absolute;
  cursor: pointer;
  margin: 10px;
  z-index: 2;
}

.mobile-contact-slider .arrow.left {
  left: 0;
  transform: scale(-1);
}

.mobile-contact-slider .arrow.right {
  right: 0;
}

.mobile-contact-slider .arrow:hover {
  filter: brightness(0.5);
}

/* RESPONSIVE HERO SLIDER */

@media (min-width: 930px) {
  .mobile-contact-slider .arrow {
    display: none;
  }
}

@media (max-width: 530px) {
  .mobile-contact-slider {
    margin: 0;
  }
}


/* BACK TO TOP BUTTON */

.back-to-top {
  font-size: 2rem;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  background-color: #6d6690;
  color: #FFF;
  opacity: 0.8;
  cursor: pointer;

  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 5;

  transition: 0.4s ease-in-out;
}

.hide-back-to-top {
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease-in-out;
}