* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  outline: none;
  border: none;
}

/* Scrollbar */

* {
  scrollbar-width: auto;
  scrollbar-color: #8275b8 #c0b7e8;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #c0b7e8;
}

*::-webkit-scrollbar-thumb {
  background-color: #8275b8;
  border-radius: 15px;
  border: 1px none #f2f2f2;
}
